extends layout
 
block content
  h1= title
  - let graffies=[{graffiename:"Alyssa's choice",habitat:"wood land",classification:"Chordata",price:10000},{graffiename:"Apollo",habitat:"cliffs",classification:"Animalia",price:15000},{graffiename:"Morgan",habitat:"cooling",classification:"Persian",price:20000}]
  div(class="container-fluid mt-3")
  div(class="row")
    each graffie,index in graffies
        div(class="col-sm-4 m-1 p-3" style=("font-weight:bolder") onclick=`buy(${index})`) #{graffie.graffiename} - #{graffie.habitat} - #{graffie.classification} - #{graffie.price}
  script.
     
      function buy(itemNo)
      {
        alert(`You purchased Item ${itemNo+1}`)
      }